<header id="mainHeader">
    <h1>
        <a href="/" id="homeLink"><img src="../resources/icons/TG.png" alt="Todd Growns Homepage" title="Todd Growns Homepage"/></a>
        @Model.AncestorOrSelf().SiteName
        <img src="../resources/icons/MalletAndChiselTransparent.png" alt="Hammer Logo" id="hammer"/>
    </h1>
</header>
