<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT About ANY>
<!ATTLIST About id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT cultivContact ANY>
<!ATTLIST cultivContact id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT projectImage ANY>
<!ATTLIST projectImage id ID #REQUIRED>
<!ELEMENT Projects ANY>
<!ATTLIST Projects id ID #REQUIRED>
<!ELEMENT Services ANY>
<!ATTLIST Services id ID #REQUIRED>
<!ELEMENT singleProject ANY>
<!ATTLIST singleProject id ID #REQUIRED>
<!ELEMENT singleService ANY>
<!ATTLIST singleService id ID #REQUIRED>
<!ELEMENT singleTestimonial ANY>
<!ATTLIST singleTestimonial id ID #REQUIRED>
<!ELEMENT Testimonials ANY>
<!ATTLIST Testimonials id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT tgBase ANY>
<!ATTLIST tgBase id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1321" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1052" template="1043" sortOrder="2" createDate="2012-08-20T13:27:35" updateDate="2012-08-28T08:05:38" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1321" isDoc="">
    <siteName>Todd Growns Carpentry</siteName>
    <ownerEmail>amanda.earlam@mail.com</ownerEmail>
    <siteOwnerName>Todd Growns</siteOwnerName>
    <homeHeader>Choose a dedicated craftsman</homeHeader>
    <homeSummary><![CDATA[Proin neque tortor, scelerisque sed venenatis sit amet, facilisis fringilla libero. Cras consectetur tortor vel nisl euismod dictum eu non arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur scelerisque congue porta. Donec vestibulum dictum semper.]]></homeSummary>
    <siteOwnerPhone>07753 229223</siteOwnerPhone>
    <tgMetaDescription><![CDATA[Todd Growns Carpentry]]></tgMetaDescription>
    <tgMetaKeywords><![CDATA[Cambridgeshire, Ely, Sutton, March, Cambridge,
Carpentry, Home Improvements, Extensions]]></tgMetaKeywords>
    <umbracoURLName />
    <umbracoURLAlias />
    <umbracoRedirect />
    <umbracoNaviHide>0</umbracoNaviHide>
    <footerLink>0</footerLink>
    <Projects id="1324" parentID="1321" level="2" writerID="0" creatorID="0" nodeType="1222" template="1044" sortOrder="0" createDate="2012-08-20T14:25:11" updateDate="2012-08-21T13:45:19" nodeName="Projects" urlName="projects" writerName="admin" creatorName="admin" path="-1,1321,1324" isDoc="">
      <tgMetaDescription><![CDATA[]]></tgMetaDescription>
      <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
      <umbracoURLName />
      <umbracoURLAlias />
      <umbracoRedirect />
      <umbracoNaviHide />
      <singleProject id="1330" parentID="1324" level="3" writerID="0" creatorID="0" nodeType="1223" template="1444" sortOrder="1" createDate="2012-08-20T14:43:31" updateDate="2012-08-23T12:07:01" nodeName="Listed Conservatory" urlName="listed-conservatory" writerName="admin" creatorName="admin" path="-1,1321,1324,1330" isDoc="">
        <projectDescription><![CDATA[
<p><span>Praesent augue elit, dignissim vitae fermentum ut, mattis
vel ipsum. Sed fermentum vulputate odio. Duis fringilla magna in
erat gravida vehicula imperdiet tortor dapibus.</span></p>
]]></projectDescription>
        <mainProjectImage>/media/4023/IMAG0094.jpg</mainProjectImage>
        <dateOfProject>2012-07-03T00:00:00</dateOfProject>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
        <projectImage id="1437" parentID="1330" level="4" writerID="0" creatorID="0" nodeType="1225" template="0" sortOrder="1" createDate="2012-08-22T11:11:09" updateDate="2012-08-22T11:11:32" nodeName="previous conservatory" urlName="previous-conservatory" writerName="admin" creatorName="admin" path="-1,1321,1324,1330,1437" isDoc="">
          <storyImage>/media/4080/Conservatory, Stanlet Road,Bedford.jpg</storyImage>
          <tgMetaDescription><![CDATA[]]></tgMetaDescription>
          <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
          <umbracoURLName />
          <umbracoURLAlias />
          <umbracoRedirect />
          <umbracoNaviHide>0</umbracoNaviHide>
          <footerLink>0</footerLink>
        </projectImage>
        <projectImage id="1438" parentID="1330" level="4" writerID="0" creatorID="0" nodeType="1225" template="0" sortOrder="2" createDate="2012-08-22T11:11:40" updateDate="2012-08-22T11:11:49" nodeName="window" urlName="window" writerName="admin" creatorName="admin" path="-1,1321,1324,1330,1438" isDoc="">
          <storyImage>/media/4096/Conservatory, Stanley Road, Bedford (2).jpg</storyImage>
          <tgMetaDescription><![CDATA[]]></tgMetaDescription>
          <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
          <umbracoURLName />
          <umbracoURLAlias />
          <umbracoRedirect />
          <umbracoNaviHide>0</umbracoNaviHide>
          <footerLink>0</footerLink>
        </projectImage>
        <projectImage id="1439" parentID="1330" level="4" writerID="0" creatorID="0" nodeType="1225" template="0" sortOrder="3" createDate="2012-08-22T11:12:22" updateDate="2012-08-22T11:12:31" nodeName="door" urlName="door" writerName="admin" creatorName="admin" path="-1,1321,1324,1330,1439" isDoc="">
          <storyImage>/media/4112/Conservatory, Stanlet Road,Bedford (2).jpg</storyImage>
          <tgMetaDescription><![CDATA[]]></tgMetaDescription>
          <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
          <umbracoURLName />
          <umbracoURLAlias />
          <umbracoRedirect />
          <umbracoNaviHide>0</umbracoNaviHide>
          <footerLink>0</footerLink>
        </projectImage>
      </singleProject>
      <singleProject id="1331" parentID="1324" level="3" writerID="0" creatorID="0" nodeType="1223" template="1444" sortOrder="2" createDate="2012-08-20T14:43:45" updateDate="2012-08-23T12:07:05" nodeName="Garage Roof" urlName="garage-roof" writerName="admin" creatorName="admin" path="-1,1321,1324,1331" isDoc="">
        <projectDescription><![CDATA[
<p><span>Praesent augue elit, dignissim vitae fermentum ut, mattis
vel ipsum. Sed fermentum vulputate odio. Duis fringilla magna in
erat gravida vehicula imperdiet tortor dapibus.</span></p>
]]></projectDescription>
        <mainProjectImage>/media/3218/Wymondham Garage Roof (2).jpg</mainProjectImage>
        <dateOfProject>2012-02-08T00:00:00</dateOfProject>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
        <projectImage id="1440" parentID="1331" level="4" writerID="0" creatorID="0" nodeType="1225" template="0" sortOrder="1" createDate="2012-08-22T11:12:59" updateDate="2012-08-22T11:13:12" nodeName="Roof Structure 1" urlName="roof-structure-1" writerName="admin" creatorName="admin" path="-1,1321,1324,1331,1440" isDoc="">
          <storyImage>/media/4128/Wymondham Garage Roof (3).jpg</storyImage>
          <tgMetaDescription><![CDATA[]]></tgMetaDescription>
          <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
          <umbracoURLName />
          <umbracoURLAlias />
          <umbracoRedirect />
          <umbracoNaviHide>0</umbracoNaviHide>
          <footerLink>0</footerLink>
        </projectImage>
        <projectImage id="1441" parentID="1331" level="4" writerID="0" creatorID="0" nodeType="1225" template="0" sortOrder="2" createDate="2012-08-22T11:13:18" updateDate="2012-08-22T11:13:25" nodeName="Roof Structure 2" urlName="roof-structure-2" writerName="admin" creatorName="admin" path="-1,1321,1324,1331,1441" isDoc="">
          <storyImage>/media/4144/Wymondham Garage Roof (4).jpg</storyImage>
          <tgMetaDescription><![CDATA[]]></tgMetaDescription>
          <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
          <umbracoURLName />
          <umbracoURLAlias />
          <umbracoRedirect />
          <umbracoNaviHide>0</umbracoNaviHide>
          <footerLink>0</footerLink>
        </projectImage>
        <projectImage id="1442" parentID="1331" level="4" writerID="0" creatorID="0" nodeType="1225" template="0" sortOrder="3" createDate="2012-08-22T11:13:33" updateDate="2012-08-22T11:13:40" nodeName="Night View" urlName="night-view" writerName="admin" creatorName="admin" path="-1,1321,1324,1331,1442" isDoc="">
          <storyImage>/media/4160/Wymondham Garage Roof.jpg</storyImage>
          <tgMetaDescription><![CDATA[]]></tgMetaDescription>
          <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
          <umbracoURLName />
          <umbracoURLAlias />
          <umbracoRedirect />
          <umbracoNaviHide>0</umbracoNaviHide>
          <footerLink>0</footerLink>
        </projectImage>
      </singleProject>
    </Projects>
    <Services id="1325" parentID="1321" level="2" writerID="0" creatorID="0" nodeType="1198" template="1047" sortOrder="1" createDate="2012-08-20T14:25:25" updateDate="2012-08-21T13:45:19" nodeName="Services" urlName="services" writerName="admin" creatorName="admin" path="-1,1321,1325" isDoc="">
      <tgMetaDescription><![CDATA[]]></tgMetaDescription>
      <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
      <umbracoURLName />
      <umbracoURLAlias />
      <umbracoRedirect />
      <umbracoNaviHide />
      <singleService id="1333" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="1" createDate="2012-08-20T14:46:01" updateDate="2012-08-25T14:38:29" nodeName="Kitchens and Bathrooms" urlName="kitchens-and-bathrooms" writerName="admin" creatorName="admin" path="-1,1321,1325,1333" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
      </singleService>
      <singleService id="1334" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="2" createDate="2012-08-20T14:46:19" updateDate="2012-08-21T13:45:19" nodeName="Fitted Bedrooms" urlName="fitted-bedrooms" writerName="admin" creatorName="admin" path="-1,1321,1325,1334" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1335" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="3" createDate="2012-08-20T14:54:37" updateDate="2012-08-21T13:45:19" nodeName="General Fitted Furniture" urlName="general-fitted-furniture" writerName="admin" creatorName="admin" path="-1,1321,1325,1335" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1336" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="4" createDate="2012-08-20T14:54:55" updateDate="2012-08-21T13:45:19" nodeName="Floor Sanding &amp; Finishing" urlName="floor-sanding-finishing" writerName="admin" creatorName="admin" path="-1,1321,1325,1336" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1337" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="5" createDate="2012-08-20T14:55:11" updateDate="2012-08-21T13:45:19" nodeName="Laminate Flooring" urlName="laminate-flooring" writerName="admin" creatorName="admin" path="-1,1321,1325,1337" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1338" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="6" createDate="2012-08-20T14:55:30" updateDate="2012-08-22T11:19:05" nodeName="Solid Timber Flooring" urlName="solid-timber-flooring" writerName="admin" creatorName="admin" path="-1,1321,1325,1338" isDoc="">
        <exampleImage>/media/3271/IMAG0050.jpg</exampleImage>
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
      </singleService>
      <singleService id="1339" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="7" createDate="2012-08-20T14:55:46" updateDate="2012-08-22T11:19:51" nodeName="Wooden Windows and Doors" urlName="wooden-windows-and-doors" writerName="admin" creatorName="admin" path="-1,1321,1325,1339" isDoc="">
        <exampleImage>/media/4194/2012-07-11 14.25.06.jpg</exampleImage>
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
      </singleService>
      <singleService id="1340" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="8" createDate="2012-08-20T14:56:03" updateDate="2012-08-21T13:45:20" nodeName="Internal Renovation / Reconfiguration" urlName="internal-renovation-reconfiguration" writerName="admin" creatorName="admin" path="-1,1321,1325,1340" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1341" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="9" createDate="2012-08-20T14:56:23" updateDate="2012-08-21T13:45:20" nodeName="Loft Conversions" urlName="loft-conversions" writerName="admin" creatorName="admin" path="-1,1321,1325,1341" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1342" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="10" createDate="2012-08-20T14:56:49" updateDate="2012-08-21T13:45:20" nodeName="Garage Conversions" urlName="garage-conversions" writerName="admin" creatorName="admin" path="-1,1321,1325,1342" isDoc="">
        <exampleImage />
        <serviceType>6</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1343" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="11" createDate="2012-08-20T14:57:05" updateDate="2012-08-21T13:45:20" nodeName="Fascias / Soffits / Cladding – Wooden Porch / Canopies" urlName="fascias-soffits-cladding-–-wooden-porch-canopies" writerName="admin" creatorName="admin" path="-1,1321,1325,1343" isDoc="">
        <exampleImage />
        <serviceType>7</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1344" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="12" createDate="2012-08-20T14:57:24" updateDate="2012-08-21T13:45:20" nodeName="Conservatories" urlName="conservatories" writerName="admin" creatorName="admin" path="-1,1321,1325,1344" isDoc="">
        <exampleImage />
        <serviceType>7</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1345" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="13" createDate="2012-08-20T14:57:39" updateDate="2012-08-22T11:19:26" nodeName="Extensions" urlName="extensions" writerName="admin" creatorName="admin" path="-1,1321,1325,1345" isDoc="">
        <exampleImage>/media/3327/IMAG0095.jpg</exampleImage>
        <serviceType>7</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
      </singleService>
      <singleService id="1346" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="14" createDate="2012-08-20T14:57:54" updateDate="2012-08-21T13:45:20" nodeName="Garage / Outbuilding" urlName="garage-outbuilding" writerName="admin" creatorName="admin" path="-1,1321,1325,1346" isDoc="">
        <exampleImage />
        <serviceType>7</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1348" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="16" createDate="2012-08-20T14:58:27" updateDate="2012-08-21T13:45:20" nodeName="Garden Sheds / Playhouses" urlName="garden-sheds-playhouses" writerName="admin" creatorName="admin" path="-1,1321,1325,1348" isDoc="">
        <exampleImage />
        <serviceType>7</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleService>
      <singleService id="1349" parentID="1325" level="3" writerID="0" creatorID="0" nodeType="1199" template="0" sortOrder="17" createDate="2012-08-20T14:58:42" updateDate="2012-08-25T14:39:08" nodeName="Timber Decking" urlName="timber-decking" writerName="admin" creatorName="admin" path="-1,1321,1325,1349" isDoc="">
        <exampleImage />
        <serviceType>7</serviceType>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
      </singleService>
    </Services>
    <Testimonials id="1329" parentID="1321" level="2" writerID="0" creatorID="0" nodeType="1326" template="1049" sortOrder="2" createDate="2012-08-20T14:39:09" updateDate="2012-08-21T13:45:21" nodeName="Testimonials" urlName="testimonials" writerName="admin" creatorName="admin" path="-1,1321,1329" isDoc="">
      <tgMetaDescription><![CDATA[]]></tgMetaDescription>
      <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
      <umbracoURLName />
      <umbracoURLAlias />
      <umbracoRedirect />
      <umbracoNaviHide />
      <singleTestimonial id="1332" parentID="1329" level="3" writerID="0" creatorID="0" nodeType="1327" template="0" sortOrder="1" createDate="2012-08-20T14:44:33" updateDate="2012-08-21T13:45:21" nodeName="Mr and Mrs Smith, Ely" urlName="mr-and-mrs-smith,-ely" writerName="admin" creatorName="admin" path="-1,1321,1329,1332" isDoc="">
        <recommendation><![CDATA[Sed sagittis malesuada nulla a vulputate. Phasellus tellus orci, elementum ac blandit et, varius id elit. Maecenas est risus, laoreet ut consectetur luctus, porttitor vel eros. In erat dui, viverra faucibus congue nec, blandit eget neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur urna nisl, tristique ac luctus vel, adipiscing non eros. Vestibulum vel eleifend enim.]]></recommendation>
        <dateWorkCompleted>2010-08-04T00:00:00</dateWorkCompleted>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide />
      </singleTestimonial>
      <singleTestimonial id="1435" parentID="1329" level="3" writerID="0" creatorID="0" nodeType="1327" template="0" sortOrder="2" createDate="2012-08-22T10:25:20" updateDate="2012-08-22T10:26:05" nodeName="Miss Jones, Chatteris" urlName="miss-jones,-chatteris" writerName="admin" creatorName="admin" path="-1,1321,1329,1435" isDoc="">
        <recommendation><![CDATA[There is only one thing deteriorating as fast as Britain's public finances – and that is the public faith in Osborne's ability to deal with the problem.]]></recommendation>
        <dateWorkCompleted>2012-06-03T00:00:00</dateWorkCompleted>
        <tgMetaDescription><![CDATA[]]></tgMetaDescription>
        <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
        <umbracoURLName />
        <umbracoURLAlias />
        <umbracoRedirect />
        <umbracoNaviHide>0</umbracoNaviHide>
        <footerLink>0</footerLink>
      </singleTestimonial>
    </Testimonials>
    <About id="1322" parentID="1321" level="2" writerID="0" creatorID="0" nodeType="1053" template="1045" sortOrder="3" createDate="2012-08-20T13:38:38" updateDate="2012-08-22T09:40:40" nodeName="About Todd" urlName="about-todd" writerName="admin" creatorName="admin" path="-1,1321,1322" isDoc="">
      <workRadius>30</workRadius>
      <locationLatitude>52.397902</locationLatitude>
      <locationLongitude>0.263936</locationLongitude>
      <aboutDescription><![CDATA[
<p>Auctor, dolor quis dapibus faucibus, mi sapien facilisis ante, a
blandit libero nibh vitae nunc. Nulla luctus justo et lectus
condimentum a congue eros bibendum. Duis eget rhoncus mi. Vivamus
non ipsum ac turpis ultricies iaculis. Integer congue ultricies
nunc. Nunc in cursus massa. Nulla facilisi. Proin ac consequat
ipsum.</p>

<p>Maecenas a magna vitae justo molestie luctus. Maecenas sit amet
tristique lorem. Mauris malesuada, magna et volutpat vehicula, nisi
felis malesuada urna, non volutpat nulla augue eget metus. Nulla
fringilla neque vitae diam gravida ut laoreet sem tristique</p>
]]></aboutDescription>
      <friendlyPicture>/media/3806/ToddGrownsFace.jpg</friendlyPicture>
      <locationName>Ely</locationName>
      <tgMetaDescription><![CDATA[]]></tgMetaDescription>
      <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
      <umbracoURLName />
      <umbracoURLAlias />
      <umbracoRedirect />
      <umbracoNaviHide>0</umbracoNaviHide>
      <footerLink>1</footerLink>
    </About>
    <Contact id="1323" parentID="1321" level="2" writerID="0" creatorID="0" nodeType="1058" template="1046" sortOrder="4" createDate="2012-08-20T13:43:24" updateDate="2012-08-28T08:09:14" nodeName="Contact Todd" urlName="contact-todd" writerName="admin" creatorName="admin" path="-1,1321,1323" isDoc="">
      <headerText>Enquiry Form</headerText>
      <formText><![CDATA[If you have a particular enquiry, please fill out the form below and provide as much information as you can, so that we can deal with your enquiry as efficiently as possible.]]></formText>
      <thankYouHeaderText>Thank you. We will be in touch shortly.</thankYouHeaderText>
      <thankYouMessageText><![CDATA[Thanks for filling out our contact form we will get back to you shortly.

Regards,
Todd Growns]]></thankYouMessageText>
      <emailTo />
      <emailSubject>Email from Contact form on website</emailSubject>
      <emailMessage><![CDATA[Hello a user of your site has filled in your contact form on [Date] @ [Time]

Name: [Name]
Address: [AddressLine1], [AddressLine2]
Email: [Email]
Phone: [Phone]
Message: [Message]]]></emailMessage>
      <emailReplyFrom />
      <emailReplySubject>Thank you for your message</emailReplySubject>
      <emailReplyBody><![CDATA[Hello [Name]
Thanks for contacting us, we will reply shortly.

Todd Growns Carpentry
www.toddgrownscarpentry.com]]></emailReplyBody>
      <enableSSL>0</enableSSL>
      <tgMetaDescription><![CDATA[Email and other contact details]]></tgMetaDescription>
      <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
      <umbracoURLName />
      <umbracoURLAlias />
      <umbracoRedirect />
      <umbracoNaviHide>0</umbracoNaviHide>
      <footerLink>1</footerLink>
    </Contact>
    <TextPage id="1447" parentID="1321" level="2" writerID="0" creatorID="0" nodeType="1446" template="1445" sortOrder="6" createDate="2012-08-23T15:53:36" updateDate="2012-08-23T15:53:40" nodeName="GalleriaTest" urlName="galleriatest" writerName="admin" creatorName="admin" path="-1,1321,1447" isDoc="">
      <tgMetaDescription><![CDATA[]]></tgMetaDescription>
      <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
      <umbracoURLName />
      <umbracoURLAlias />
      <umbracoRedirect />
      <umbracoNaviHide>0</umbracoNaviHide>
      <footerLink>0</footerLink>
    </TextPage>
    <cultivContact id="1453" parentID="1321" level="2" writerID="0" creatorID="0" nodeType="1449" template="1452" sortOrder="7" createDate="2012-08-28T13:55:41" updateDate="2012-08-29T15:30:16" nodeName="Cultiv Contact Test" urlName="cultiv-contact-test" writerName="admin" creatorName="admin" path="-1,1321,1453" isDoc="">
      <headerText>Enquiry Form</headerText>
      <formText><![CDATA[If you have a particular enquiry, please fill out the form below and provide as much information as you can, so that we can deal with your enquiry as efficiently as possible.]]></formText>
      <mailTemplate><![CDATA[
<p>Dear %%SiteOwner%%</p>

<p>A prospective customer has filled in your contact form on
%%Date%% @ %%Time%%</p>

<p>Name:&nbsp;%%NAME%%<br />
 Address: [AddressLine1], [AddressLine2]<br />
 Email:&nbsp;%%EMAIL%%<br />
 Message:&nbsp;%%MESSAGE%%</p>
]]></mailTemplate>
      <emailSubject>Email from Contact form on website</emailSubject>
      <tgMetaDescription><![CDATA[]]></tgMetaDescription>
      <tgMetaKeywords><![CDATA[]]></tgMetaKeywords>
      <umbracoURLName />
      <umbracoURLAlias />
      <umbracoRedirect />
      <umbracoNaviHide>0</umbracoNaviHide>
      <footerLink>0</footerLink>
    </cultivContact>
  </Home>
</root>