<ul>
    <li><a href="mailto:caroline@carolineforward.co.uk">Email Caroline</a></li>   
    <li><a href="/Copyright">Copyright</a></li>
    <li><a href="/Pricing">Prices &amp; Sizes</a></li>
    <li><a href="/Profile">Artist Profile</a></li>
</ul>
